[credential]
    helper = store
[user]
    email = rswhite4@googlemail.com
    name = Dgame
[core]
    autocrlf = input
    editor = vim
    fileMode = false
[alias]
    aa = add --all
    c = commit
    ca = commit --amend
    cmsg = commit -m
    co = checkout
    d = diff
    l = pull --rebase
    m = merge
    p = push
    s = status
    st = stash
    sw = switch
    swc = switch -c
    swm = switch master
[rerere]
    enabled = 1
[pull]
    rebase = true
[push]
    autoSetupRemote = true

